@tailwind base;
@tailwind components;

/* Centers images in text */

.prose p img {
	@apply mx-auto;
	@apply block;
	@apply shadow;
}

/*  This offsets the links by the size of the navbar */
:target::before {
	content: "";
	display: block;
	height: 4rem; /* fixed header height*/
	margin: -4rem 0 0; /* negative fixed header height */
}
.bmc-button img {
	@apply h-8 w-8 align-middle mb-px;
}
.bmc-button {
	@apply inline-flex box-border text-white text-2xl shadow-xl my-0 mx-auto rounded-md tracking-wide px-3 py-2;
	background-color: #ff813f !important;
	font-family: "Cookie", cursive !important;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
	@apply shadow-lg opacity-75;
}

/* Fix for algolia docsearch on mobile version */

@media (max-width: 768px) {
	.algolia-autocomplete .ds-dropdown-menu {
		max-width: calc(100vw - 32px) !important;
		min-width: calc(100vw - 32px) !important;
		width: calc(100vw - 32px) !important;
		margin-left: 16px !important;
	}
	.algolia-autocomplete .algolia-docsearch-suggestion--content {
		width: 100% !important;
		padding-left: 0 !important;
	}
	.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
		display: none !important;
	}
	.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
		display: none !important;
	}
}

@tailwind utilities;

/* CSS for Docsearch */
@import url(https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css);

/* CSS for Inter Font */

@import url("https://rsms.me/inter/inter.css");
html {
	font-family: "Inter", sans-serif;
	font-feature-settings: "frac";
}
@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
		font-feature-settings: "frac";
	}
}

/* CSS for the colours in code */

:root {
	--color-code-green: #b5f4a5;
	--color-code-yellow: #ffe484;
	--color-code-purple: #d9a9ff;
	--color-code-red: #ff8383;
	--color-code-blue: #93ddfd;
	--color-code-white: #fff;
}
